<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StoreGUI.Properties.Settings.StoreConnectionString"
            connectionString="Data Source=.;Initial Catalog=Store;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StoreGUI.Properties.Settings.StoreConnectionString1"
            connectionString="Data Source=DESKTOP-VAHIJ79\SQLEXPRESS;Initial Catalog=Store;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>